.addcolor{
  color: white;
  text-align: center;
}
.new-background-color{
  --background: rgb(168, 168, 0);
}

.buttonlarge{
  width: 100%;
  --background: white;
  color: rgb(74, 181, 253);
}

.centertext{
  text-align: center;
}

.plain-fondo{
  --background: rgb(8, 150, 245);
}

.background-color{
  --background: rgb(168, 168, 0);
}
