<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title">LISTADO DE TUS POKEMON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="listcolor">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/pagina-principal">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="speakers" routerLink="/llistat">
        <ion-icon name="reader-outline" color="primary"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="map" routerLink="/formulari">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-list>
    <ion-item>
      <ion-label>BULBASAUR</ion-label>
      <ion-select ok-text="" cancel-text="ATRAS">
        <ion-select-option [disabled]=true>ID: 1</ion-select-option>
        <ion-select-option [disabled]=true>ALTURA: 200</ion-select-option>
        <ion-select-option [disabled]=true>LARGURA: 50</ion-select-option>
        <ion-select-option [disabled]=true>IMAGEN: X</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>CHARMANDER</ion-label>
      <ion-select ok-text="" cancel-text="ATRAS">
        <ion-select-option [disabled]=true>ID: 4</ion-select-option>
        <ion-select-option [disabled]=true>ALTURA: 200</ion-select-option>
        <ion-select-option [disabled]=true>LARGURA: 50</ion-select-option>
        <ion-select-option [disabled]=true>IMAGEN: X</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>SQUIRTLE</ion-label>
      <ion-select ok-text="" cancel-text="ATRAS">
        <ion-select-option [disabled]=true>ID: 7</ion-select-option>
        <ion-select-option [disabled]=true>ALTURA: 200</ion-select-option>
        <ion-select-option [disabled]=true>LARGURA: 50</ion-select-option>
        <ion-select-option [disabled]=true>IMAGEN: X</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>CATERPIE</ion-label>
      <ion-select ok-text="" cancel-text="ATRAS">
        <ion-select-option [disabled]=true>ID: 10</ion-select-option>
        <ion-select-option [disabled]=true>ALTURA: 200</ion-select-option>
        <ion-select-option [disabled]=true>LARGURA: 50</ion-select-option>
        <ion-select-option [disabled]=true>IMAGEN: X</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>WEEDLE</ion-label>
      <ion-select ok-text="" cancel-text="ATRAS">
        <ion-select-option [disabled]=true>ID: 13</ion-select-option>
        <ion-select-option [disabled]=true>ALTURA: 200</ion-select-option>
        <ion-select-option [disabled]=true>LARGURA: 50</ion-select-option>
        <ion-select-option [disabled]=true>IMAGEN: X</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
