<ion-header>
</ion-header>

<ion-content>
  <ion-icon name="arrow-forward-circle-outline" routerLink="/pagina-principal" class="buttonnext"></ion-icon>
  <img src="assets\titulo.png" class="titulo"/>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets\primer-slide.jpg" class="items"/>
      <div class="bgSide"></div>
        <ion-text class="words">Show our hobbies</ion-text>
    </ion-slide>
    <ion-slide>
      <img src="assets\segundo-slide.jpg" class="items"/>
      <div class="bgSide"></div>
      <ion-text class="words">Pokemon world is here</ion-text>
    </ion-slide>
    <ion-slide>
      <img src="assets\tercer-slide.jpg" class="items"/>
      <div class="bgSide"></div>
      <ion-text class="words">Show our pokemon next</ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>
