<ion-header>
</ion-header>

<ion-content>
  <img src="assets\pantalla-principal-foto.jpg" class="items"/>
  <div class="bgSide"></div>
    <ion-text class="words">WELCOME TO YOUR OWN POKEMON WORLD</ion-text>
  <ion-tabs class="bottabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/pagina-principal">
        <ion-icon name="home-outline" color="primary"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="speakers" routerLink="/llistat">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="map" routerLink="/formulari">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
